body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #add8e6;
    background-image: url('stop\ img\ 2.jpg');
    font-family: Arial, sans-serif;
}

.stopwatch {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.display {
    color: #00bbff;
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #333;
}
